<div class="row">
    <div class="col-lg-6" style="float:left;overflow-y:auto; max-height: 600px">

        <div class="well text-primary" style="margin-top:10px">

            <span style="font-size:x-large;margin-left:10px"><i class="fa fa-user"></i> {{candidate.name}}</span>
            <a ui-sref="dashboard.downloadCV({candidateId:candidate.id})" class="btn btn-success pull-right" tooltip="Download CV" tooltip-placement="left"><i class="fa fa-download"></i></a>
            <br />
            <span style="margin-left:10px;font-size:large"><i class="fa fa-briefcase"></i> {{jobDesig}}</span><br />
            <span style="margin-left:10px;font-size:large">dropdown</span>





        </div>
        <br />
        <div class="row" style="margin-left:10px">
            <div class="col-lg-1">
                <i class="fa fa-phone" style="font-size:x-large;color:cornflowerblue"></i>
            </div>
            <div class="col-lg-11">
                <span class="black">{{candidate.phone}}</span>
            </div>
        </div>


        <div class="row" style="margin-left:10px">
            <div class="col-lg-1">
                <i class="fa fa-envelope" style="font-size:x-large;color:cornflowerblue"></i>
            </div>
            <div class="col-lg-11">
                <span class="black">{{candidate.email}}</span>
            </div>
        </div>
        <hr class="hr" />

        <div class="row" style="margin-left:10px">
            <div class="col-lg-1">
                <i class="fa fa-briefcase icon" style="font-size:x-large"></i>
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="heading">Designation</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="black">{{candidate.designation}}</span>
                    </div>
                </div>



            </div>
        </div>

        <br />
        <div class="row" style="margin-left:10px">
            <div class="col-lg-1">
                <i class="fa fa-users icon" style="font-size:x-large"></i>
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="heading">Current Company</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="black">{{candidate.currentCompany}}</span>
                    </div>
                </div>



            </div>
        </div>
        <br />

        <div class="row" style="margin-left:10px">
            <div class="col-lg-1">
                <i class="fa fa-graduation-cap icon" style="font-size:x-large"></i>
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="heading">Qualification</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="black">{{candidate.qualification}}</span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="margin-left:10px">
            <div class="col-lg-1">
                <i class="fa fa-map-marker icon" style="font-size:x-large"></i>
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="heading">Location</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="black">{{candidate.location}}</span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="margin-left:10px">
            <div class="col-lg-1">
                <i class="fa fa-rupee icon" style="font-size:x-large"></i>
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="heading">Current CTC</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="black">{{candidate.currentCTC}} Lakhs</span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="margin-left:10px">
            <div class="col-lg-1">
                <i class="fa fa-rupee icon" style="font-size:x-large"></i>
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="heading">Expected CTC</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="black">{{candidate.expectedCTC}} Lakhs</span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="margin-left:10px">
            <div class="col-lg-1">
                <i class="fa fa-line-chart icon" style="font-size:x-large"></i>
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="heading">Work Experience</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="black">{{candidate.experience}} Years</span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="margin-left:10px">
            <div class="col-lg-1">
                <i class="fa fa-clock-o icon" style="font-size:x-large"></i>
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="heading">Notice Period</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="black">{{candidate.noticePeriod}} Days</span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr" />

        <div class="row" style="margin-left:10px">
            <span class="heading">Skills</span>
            <br /><br />

            <span ng-repeat="skill in candidate.skillsMust" class="box">{{skill}}</span>

        </div>







    </div>

    <div class="col-lg-6" style="float:left;overflow-y:auto; max-height:600px">

        <div ng-repeat="comment in comments" style="margin-top:10px">
            <div class="row">
                <div class="col-lg-1">
                    <div class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x" style="color:mediumpurple"></i><span class="fa fa-stack-1x fa-inverse">{{comment.by | limitTo:1}}</span></div>
                </div>

                <div class="col-lg-11" style="padding-left:30px;color:cornflowerblue">
                    <b>{{comment.by}}</b>
                    <br />
                    <span style="color:orangered" ng-hide="comment.status==null">{{comment.status}}<br /></span>

                    <span style="color:black" ng-hide="comment.commentDetail==null">{{comment.commentDetail}}</span>
                </div>
            </div>
            <hr class="hr" />
        </div>
        <input id="commentBox"class="form-control"  placeholder="Enter to Comment..." my-enter="addComment()" ng-model="inputComment" />
    </div>
    
</div>


