<div ng-controller="jobController">

    <div style="padding-top:20px" class="row">
        <div class="col-lg-12">
            <span style="font-size:large" class="text-primary">{{job.position}} - {{job.jobLocation}} </span>

            <span style="padding-left:10px"><i class="fa fa-inr" style="font-size:18px"></i> {{job.salaryRange}}</span>
            <span style="padding-left:10px"><i class="fa fa-line-chart" style="font-size:18px"></i> {{job.experience}}</span>
            <span style="padding-left:10px"><i class="fa fa-users" style="font-size:18px"></i> Vacancy {{job.vacancy}}</span>
            <span class="text-success" style="margin-left:10px;border-radius:10px;border:1px solid green;padding: 3px 10px; ">{{job.status}}</span>
            <a class="btn btn-primary pull-right" ui-sref="dashboard.viewJd({jdId:jobId})">View JD</a>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <hr />
    <div style="margin-top:15px" class="panel-group">
        <div class="panel panel-default" ng-repeat="candidate in candidates">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <span class="fa fa-child"></span>  <a ui-sref ="dashboard.candidate({candidateId:candidate.id,jobId:jobId})"> {{candidate.name}}</a>
                    </div>
                    <div class="col-md-3">
                        dropdown
                    </div>
                    <div class="col-md-1">
                        {{candidate.time}}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <span class="fa fa-bookmark"></span> {{candidate.designation}}
                    </div>
                    <div class="col-md-3">
                        <span class="fa fa-briefcase"></span> {{candidate.currentCompany}}
                    </div>
                    <div class="col-md-3">
                        <span class="fa fa-graduation-cap"> </span>   {{candidate.qualification}}
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">
                        score
                    </div>
                    <div class="col-md-1">
                        <a ui-sref="dashboard.downloadCV({candidateId:candidate.id})" class="btn pull-right text-success fa fa-lg fa-download"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="fa fa-map-marker"></span>  {{candidate.location}}
                    </div>
                    <div class="col-md-3">
                        <span class="fa fa-line-chart"></span>   {{candidate.experience}}
                    </div>
                    <div class="col-md-3">
                        <span class="fa fa-rupee"></span>    {{candidate.currentCTC}}
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

