<div class="row" ng-controller="viewJdController">
    <div style="margin:10px 10px 10px">
        <div class="well text-primary">
            <span style="font-size:x-large">{{client.name}}</span> <a class="btn btn-primary pull-right" ui-sref="dashboard.editJd({jobId:jdId})"><i class="fa fa-pencil"></i> Edit</a><br />
            <span style="font-size:x-large">{{job.position}} - </span><span style="color:cornflowerblue;font-size:larger">{{job.jobLocation}}</span>
            <br />
            <span style="font-size:larger;margin-top:10px"><i class="fa fa-rupee"></i> {{job.minSalary}} - {{job.maxSalary}} Lakhs</span><br />
            <span style="font-size:larger;margin-top:15px"><i class="fa fa-briefcase"></i> {{job.functionalArea}}</span><br />
            <div style="margin-top:10px"><span class="text-success" style="border-radius:10px;border:1px solid green;padding: 3px 10px">{{job.status}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <p class="heading">Experience</p>
            </div>
            <div class="col-md-11">
                <p class="value"> {{job.minExperience}} - {{job.maxExperience}} Years</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <p class="heading">Vacancy</p>
            </div>
            <div class="col-md-11">
                <p class="value">{{job.vacancy}}</p>
            </div>
        </div>
        <hr class="hr" />
        <div class="row">
            <div class="col-lg-12">
                <p class="heading">Screening and Sourcing details</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <p class="value">{{job.sourcing}}</p>
            </div>
        </div>
        <hr class="hr" />

        <div class="row">
            <div class="col-lg-12">
                <p class="heading">Perks, Incentives, ESOPs & Compensation details</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <p class="value">{{job.incentives}}</p>
            </div>
        </div>
        <hr class="hr" />

        <div class="row">
            <div class="col-lg-12">
                <p class="heading">Duties and Responsibility</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <p class="value">{{job.duties}}</p>
            </div>
        </div>
        <hr class="hr" />


        <div class="row">
            <div class="col-lg-12">
                <p class="heading">About Us</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <p class="value">{{client.name}} <i>({{client.minEmployees}} - {{client.maxEmployees}} Employees)</i> </p>
            </div>
        </div>
        <hr class="hr" />

        <div class="row">
            <div class="col-lg-12">
                <p class="heading">Skills</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="heading" style="font-size:medium;font-weight:bold;margin-left:10px">Must Have</p>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <span class="text-primary box" ng-repeat="skill in job.skillsMust">{{skill}}</span>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-lg-12">
                <p class="heading" style="font-size:medium;font-weight:bold;margin-left:10px">Optional</p>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <span class="text-primary box" ng-repeat="skill in job.skillsOptional">{{skill}}</span>
            </div>
        </div>
        <hr class="hr" />


        <div ng-hide="job.qualification==null">
            <div class="row">
                <div class="col-lg-12">
                    <p class="heading">Qualifications</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <span class="text-primary box">{{job.qualification}}</span>
                </div>
            </div>
            <hr class="hr" />
        </div>

        <div ng-hide="job.educationalInsitutions==null">
            <div class="row">
                <div class="col-lg-12">
                    <p class="heading">Target Educational Institutions</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-primary box">{{job.educationalInstitution}}</span>
                </div>
            </div>
        </div>
        <br />
        <div ng-hide="job.industries==null">
            <div class="row">
                <div class="col-lg-12">
                    <p class="heading">Target Industries</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-primary box">{{job.industries}}</span>
                </div>
            </div>
        </div>
        <br />
        <div ng-hide="job.companies==null">
            <div class="row">
                <div class="col-lg-12">
                    <p class="heading">Target Companies</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-primary box">{{job.companies}}</span>
                </div>
            </div>
        </div>
        <hr class="hr" />
        <div ng-hide="job.workingDay==null && job.workingHoursStart==null && job.workingHoursEnd==null">
            <div class="row">
                <div class="col-lg-12">
                    <p class="heading">Working Days</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <p class="value">{{job.workingDays}} Days a Week ({{job.workingHoursStart}} to {{job.workingHoursEnd}})</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p class="heading">Job Nature</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="value">{{job.jobNature}}</span>
            </div>
        </div>
        <hr class="hr" />
        <div class="row">
            <div class="col-lg-12">
                <p class="heading">Gender Prefrence</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="value">{{job.gender}}</span>
            </div>
        </div>
        <hr class="hr" />
        <div ng-hide="job.interviewAddress==null">
            <div class="row">
                <div class="col-lg-12">
                    <p class="heading">Interview Address</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="value">{{job.interviewAddress}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
